* {
	 padding:;
	 margin:5px;	
}

h1 {
	 margin:0 ;
     padding:20px;
	 font-size:45px;
}

a { 
     position:relative;
	 top:;
	 bottom:40px;
	 right:;
	 left:20px;
}

	
h3 {
	 margin:0;
     padding:20;
	 font-size:25px;
}

img {
	 margin:0 ;
     padding:25px;
	
}

div {
	 position:relative ;
	 color:white;
	 background:black;
	 top:100px;
	 margin:10 -10;
	 padding:10px 350px ;
	 font-size:20px;
	 width:;
	 display:line;
}



 


	

	
